ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 1000px;
    outline: 1px solid red;
}

.item {
    flex-basis: calc((100% - 100px) / 3);
    text-align: center;
}